{% extends "layout.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact</h1>
<p>The content is provided by:</p>

<p>Fritz Grimpen<br />
Alma-Rogge-Straße 21<br />
28755 Bremen<br />
Germany</p>

<p>All content is contributed by users, which underlie the <a href="/terms_of_use">Terms of use</a>, except the sites under <code>/terms_of_use</code>, <code>/privacy_policy</code> and <code>/contact</code>.</p>

<p>Commissioner for data protection: Fritz Grimpen</p>

<p>All servers are located in Germany, and underlie German law, including the law of the European Union. You are not allowed to distribute the address data presented on this page for commercial interests without explicit permission granted by Fritz Grimpen.</p>
{% endblock %}
