<!DOCTYPE html>
<html>
	<head>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<title>{% block title %}{% endblock %} – coq.io</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" href="/static/css/application.css" type="text/css" />
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<h1><a href="/">coq.io</a></h1>

			<nav id="main_nav">
				<ul>
					<li><a href="/everyone">Everyone</a></li>
					{% if "user" in session() %}
					<li><a href="/post">New Post</a></li>
					{% endif %}
				</ul>
			</nav>
			<nav id="user_nav">
				<ul>
					{% if "user" in session() %}
					<li><a href="/{{ session().user.username }}">{{ session().user.username }}</a></li>
					<li><a href="/logout">Logout</a></li>
					{% else %}
					{% if config().allow_registration %}
					<li><a href="/sign_up">Sign up</a></li>
					{% endif %}
					<li><a href="/sign_in">Sign in</a></li>
					{% endif %}
				</ul>
			</nav>
		</header>
		<aside id="sidebar1">
			{% block sidebar %}{% endblock %}
		</aside>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer>
		© 2012 coq.io – <a href="/terms_of_use">Terms of use</a> – <a href="/privacy_policy">Privacy Policy</a> – <a href="/contact">Contact</a>
		</footer>
	</body>
</html>
