{% macro paginate(info) %}
<nav class="pagination">
	{% if info.current_page > 0 %}
	<a class="prev" href="?page={{ info.current_page - 1 }}">←</a>
	{% endif %}
	<span class="current">{{ info.current_page + 1 }}</span>
	{% if info.pages - 1 > info.current_page  %}
	<a class="next" href="?page={{ info.current_page + 1 }}">→</a>
	{% endif %}
</nav>
{% endmacro %}
