{% macro render_post(post) -%}
<article class="post post-{{ post.type }}">
	{% if post.title %}
	<h1>
		<a href="/post/{{ post._id }}">{{ post.title|e }}</a>
	</h1>
	{% else %}
	<h1 class="notitle">
		<a href="/post/{{ post._id }}">No Title</a>
	</h1>
	{% endif %}
	<section class="time"><a href="/post/{{ post._id }}">{{ post.created_at }}</a></section>
	<section class="assets">
		{% for asset in post.assets %}
		<img src="/assets/{{ asset }}" alt="assets" />
		{% endfor %}
	</section>
	<section class="text">
		{{ post.text|e|markdown }}
	</section>
	<nav>
		<ul class="tags">
			{% for tag in post.tags %}
			<li><a href="/posts/tag/{{ tag|e }}">{{ tag|e }}</a></li>
			{% endfor %}
		</ul>
		<ul class="info">
			<li><a href="/{{ post.user.username }}">Posted by {{ post.user.username }}</a></li>
			{% if "origin" in post %}
			<li><a href="/post/{{ post.origin._id}}">In reply to {{ post.origin.user.username }}</a></li>
			{% endif %}
			{% if "via" in post %}
			<li><a href="/post/{{ post.via._id }}">Via {{ post.via.user.username }}</a></li>
			{% endif %}
			{% if "original" in post %}
			<li><a href="/post/{{ post.original._id }}">From {{ post.original.user.username }}</a></li>
			{% endif %}
			{% if "user" in session() %}
			{% if post.user._id == session().user._id %}
			<li><a href="/post/{{ post._id }}/destroy">Delete</a></li>
			{% endif %}
			<li><a href="/post/{{ post._id }}/repost">Repost</a></li>
			<li><a href="/post/{{ post._id }}/reply">Reply</a></li>
			{% endif %}
		</ul>
		<div class="clear" />
	</nav>
</article>
{%- endmacro %}
