/* coq.io stylesheet - (c) 2012 coq.io // Fritz Conrad Grimpen */

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Regular.woff') format('woff'),
			 url('../fonts/PTSans-Regular.svg') format('svg'),
			 url('../fonts/PTSans-Regular.ttf') format('truetype'),
			 url('../fonts/PTSans-Regular.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Bold.woff') format('woff'),
			 url('../fonts/PTSans-Bold.svg')  format('svg'),
			 url('../fonts/PTSans-Bold.ttf')  format('truetype'),
			 url('../fonts/PTSans-Bold.eot')  format('embedded-opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-Italic.woff') format('woff'),
			 url('../fonts/PTSans-Italic.svg')  format('svg'),
			 url('../fonts/PTSans-Italic.ttf')  format('truetype'),
			 url('../fonts/PTSans-Italic.eot')  format('embedded-opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PTSans-BoldItalic.woff') format('woff'),
			 url('../fonts/PTSans-BoldItalic.svg')  format('svg'),
			 url('../fonts/PTSans-BoldItalic.ttf')  format('truetype'),
			 url('../fonts/PTSans-BoldItalic.eot')  format('embedded-opentype');
	font-weight: bold;
	font-style: italic;
}

/* @media all { */
/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: #3f3f3f;
	text-decoration: none;
}

a:hover {
	color: black;
}

.clear {
	clear: both;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin-left: 15px;
}

dd + dt {
	margin-top: 5px;
}

.notitle {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
}

h3 {
	font-size: 160%;
}

h4 {
	font-size: 140%;
}

h5 {
	font-size: 120%;
}

h6 {
	font-size: 100%;
}

p {
	margin-top: 6px;
	margin-bottom: 6px;
	line-height: 1.25;
}

input, textarea {
	padding: 0;
	margin: 0;
	background: none;
	color: inherit;
	font: inherit;

	border: none;
}

dd input {
	width: 75%;
}

input:focus, textarea:focus {
	outline: none;
}

input {
	border: 1px solid #efefef;
	border-radius: 2px;

	padding: 3px;
	margin: 5px;
}

input[type="submit"] {
	padding: 5px;

	color: white;
	background: black;
}

input[type="submit"]:hover {
	background: #efefef;
	color: black;
}

textarea {
	width: 100%;
	height: 10em;
	resize: vertical;
}

.infobox {
	border-radius: 2px;
	padding: 5px;
	margin: 2px;
	background: #FFFCA1;
	color: #000000;
	font-weight: bold;
}

/* } */

@media screen {
	.wrapper {
		max-width: 1000px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	body {
		font-family: 'PT Sans', sans-serif;
		font-size: 16px;

		max-width: 1000px;

		margin: 0;
		margin-left: auto;
		margin-right: auto;

		position: relative;

		padding-top: 50px;
	}

	body > header {
		position: fixed;

		background: black;
		color: white;

		height: 50px;
		max-width: 1000px;
		width: 100%;
		top: 0;

		z-index: 1;
	}

	body > header a {
		color: inherit;
		text-decoration: none;
	}

	body > header a:hover {
		color: inherit;
	}

	body > header > h1 {
		float: left;
		font-size: 20px;
		padding: 15px;
		margin-right: 30px;

		font-weight: normal;
	}

	body > header > nav {
		font-size: 16px;
		margin-right: 30px;
	}

	body > header > nav li {
		float: left;
	}

	body > header > nav li a {
		display: block;
		padding: 17px;
	}

	body > header > nav li a:hover {
		background: white;
		color: black;
	}

	#main_nav {
		float: left;
	}

	#user_nav {
		float: right;
	}

	#sidebar1 {
		padding: 1.5%;
		width: 22%;

		float: left;
	}

	#sidebar1 li a {
		display: block;

		background: #efefef;

		padding: 8px;
		margin-bottom: 5px;
		
		font-weight: bold;

		color: black;
		text-decoration: none;

		overflow: hidden;
	}

	#sidebar1 li a:hover {
		position: relative;
		background: black;
		color: white;
	}

	#sidebar1 section {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #afafaf;
	}

	#sidebar1 section h1 {
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 5px;
	}

	#content {
		float: left;

		width: 72%;
		padding: 1.5%;
	}

	body > footer {
		clear: both;
		font-size: 14px;
		text-align: center;
	}

	aside.user_info {
		margin-bottom: 15px;
		padding-bottom: 10px;

		border-bottom: 1px solid #505050;
	}

	aside.user_info h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}

	nav.friendship a {
		display: block;
		float: right;

		padding: 5px;

		font-size: 16px;
		background: black;
		color: white;
	}

	nav.friendship a:hover {
		color: black;
		background: #efefef;
	}

	article.post {
		width: 100%;
		margin-bottom: 60px;
		padding-bottom: 1px;

		border-bottom: 1px solid #afafaf;
		overflow: hidden;
		word-break: break-all;
	}

	article.post > h1 {
		font-size: 28px;
		
		min-height: 28px;
		margin-bottom: 5px;

		border-bottom: 1px dotted #afafaf;

		font-weight: normal;
	}

	article.post > h1.notitle {
		color: #909090;
	}

	article.post > h1 a {
		color: inherit;
		background: inherit;
	}

	article.post > section.time {
		font-size: 13px;
		color: #606060;
		text-align: right;
		margin-bottom: 15px;
	}

	article.post > section.assets {
		text-align: center;
		padding: 5px;
	}

	article.post > section.assets img {
		max-width: 100%;
	}

	article.post > section.text {
		clear: both;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	article.post > nav {
		min-height: 20px;
		margin-top: 5px;
		font-size: 14px;
	}

	article.post > nav a {
		padding: 3px;
		background: black;
		color: white;

		margin-right: 5px;
	}

	article.post > nav a:hover {
		background: #efefef;
		color: black;
	}

	article.post ul.tags {
		max-width: 50%;
	}

	article.post ul.tags li {
		height: 24px;
		margin-bottom: 2px;
		float: left;
	}

	article.post ul.info li {
		float: right;
	}

	article.post input {
		margin: 0;
		border: none;
		padding: 0;
	}

	article.post input[type="text"] {
		border-bottom: 1px solid #efefef;
		margin-bottom: 5px;
		width: 100%;
	}

	form article.post section.assets input {
		width: 100%;
	}

	nav.pagination {
		text-align: center;
	}

	nav.pagination a {
		display: block;
		padding: 5px;

		background: #000000;
		color: #ffffff;
	}

	nav.pagination a:hover {
		color: #000000;
		background: #efefef;
	}

	nav.pagination .current {
		background: #efefef;
		color: #000000;
		padding: 5px;
		display: inline-block;
	}

	nav.pagination .prev {
		float: left;
	}

	nav.pagination .next {
		float: right;
	}
}

@media screen and (max-width: 600px) {
	body {
		padding: 0;
	}

	#sidebar1 {
		float: none;
		width: auto;
		text-align: center;
		font-size: 85%;
	}

	#sidebar1 .friends {
		display: none;
	}

	#sidebar1 .tags {
		display: none;
	}

	#sidebar1 li {
		display: inline-block;
	}

	#sidebar1 li a {
		display: inline-block;
	}

	#content {
		width: 97.3%;
		padding: 1.5%;
	}

	#main_nav, #user_nav {
		float: none;
	}
	
	body > header {
		position: relative;
		height: auto;
		text-align: center;
	}

	body > header > h1 {
		float: none;

		font-size: inherit;
		font-size: 130%;

		text-align: center;

		padding: 0;
		margin: 0;

		color: #000000;
		background: #efefef;
	}

	body > header > h1 a {
		display: block;
		padding: 5px;
	}

	body > header > nav {
		padding: 0;
		margin: 0;
		display: inline-block;
	}

	body > header nav li {
		display: inline-block;
		float: none;
	}
	
	body > header nav li a {
		margin: 5px;
		padding: 5px;
		display: block;
	}

	footer {
		margin-top: 35px;
	}

	article.post > nav a {
		display: block;
	}

	article.post ul.tags {
		max-width: none;
		text-align: center;
	}

	article.post ul.tags li {
		display: inline-block;
		float: none;
	}

	article.post ul.info {
		text-align: center;
	}

	article.post ul.info li {
		display: inline-block;
		float: none;
	}
}
