{% extends "layout.html" %}
{% from "infobox.html" import render_infobox %}
{% block title %}Edit registration{% endblock %}
{% block content %}
<form method="POST" action="/user/edit">
	{{ render_infobox(info) }}
	<dl>
		<dt><label for="edit_email">Email address</label></dt>
		<dd><input type="email" name="email" id="edit_email" value="{{ form.email }}" /></dd>

		<dt><label for="edit_password">Password</label></dt>
		<dd><input type="password" name="password" id="edit_password" /></dd>

		<dt><label for="edit_password_confirmation">Password confirmation</label></dt>
		<dd><input type="password" name="password_confirmation" id="edit_password_confirmation" /></dd>
	</dl>

	<input type="submit" name="submit" value="Update" />
</form>
{% endblock %}
