{% extends "layout.html" %}
{% from "infobox.html" import render_infobox %}
{% block title %}Registration{% endblock %}
{% block content %}
<form method="POST" action="/sign_up">
	{{ render_infobox(info) }}
	<dl>
		<dt><label for="sign_up_email">Email address</label></dt>
		<dd><input type="email" id="sign_up_email" name="email" value="{{ form.email }}" /></dd>
		<dt><label for="sign_up_username">Username</label></dt>
		<dd><input type="text" id="sign_up_username" name="username" value="{{ form.username }}" /></dd>
		<dt><label for="sign_up_password">Password</label></dt>
		<dd><input type="password" id="sign_up_password" name="password" /></dd>
		<dt><label for="sign_up_password_confirmation">Password confirmation</label></dt>
		<dd><input type="password" id="sign_up_password_confirmation" name="password_confirmation" /></dd>
	</dl>

	<input type="submit" name="submit" value="Sign up" />
</form>
{% endblock %}
