{% extends "layout.html" %}
{% from "infobox.html" import render_infobox %}
{% block title %}Sign In{% endblock %}
{% block content %}
<form method="POST" action="/sign_in">
	{{ render_infobox(info) }}
	<dl>
		<dt><label for="sign_in_username">Username</label></dt>
		<dd><input type="text" id="sign_in_username" name="username" value="{{ form.username }}" /></dd>
		<dt><label for="sign_in_password">Password</label></dt>
		<dd><input type="password" id="sign_in_password" name="password" value="" /></dd>
	</dl>

	<input type="submit" name="submit" value="Sign in" />
</form>
{% endblock %}
