{% extends "layout.html" %}
{% from "post.html" import render_post %}
{% from "pagination.html" import paginate %}
{% block title %}Posts{% endblock %}
{% block content %}
{% block before_posts %}{% endblock %}
{% for post in posts %}
{{ render_post(post) }}
{% endfor %}
{% if pagination %}
{{ paginate(pagination) }}
{% endif %}
{% endblock %}
{% block sidebar %}
{% block users %}{% endblock %}
{% if "user" in session() %}
<section class="friends">
	<h1>Friends</h1>
	<ul>
		{% for friend in session().friends() %}
		<li><a href="/{{ friend.username }}">{{ friend.username }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}
{% if tags %}
<section class="tags">
	<h1>Tags</h1>
	<ul>
		{% for tag in tags %}
		<li><a href="/posts/tag/{{ tag._id }}">{{ tag._id }}</a></li>
		{% endfor %}
	</ul>
</section>
{% endif %}
{% endblock %}
