{% macro post_form(type="text", form={}, origin=None) %}
<form method="POST" action="/post" enctype="multipart/form-data" class="post-{{ type }}">
	<input type="hidden" name="type" value="{{ type }}" />
	<article class="post post-{{ type }}">
		<h1><input type="text" name="title" value="{{ form.title }}" placeholder="Title" /></h1>
		{% if type == "image" %}
		<section class="assets">
			<input type="file" name="file" />
			<!--
			<input type="url" name="url" value="{{ form.url }}" placeholder="URL" />
			<input type="text" name="source" value="{{ form.source }}" placeholder="Source" />
			-->
		</section>
		{% endif %}
		<section class="text">
			<textarea name="text" placeholder="Text">{{ form.text }}</textarea>
		</section>
		<nav>
			<ul class="tags">
				<li><input type="text" name="tags" value="{{ form.tags }}" placeholder="Tags (at least 2)" /></li>
			</ul>
			<ul class="info">
				{% if origin %}
				<li><a href="/post/{{ origin._id }}">In reply to {{ origin.user.username }}</a></li>
				{% endif %}
				{% if "user" in get_session() %}
				<li><a href="/{{ get_session().user.username }}">Posted by {{ get_session().user.username }}</a></li>
				{% endif %}
			</ul>
		</nav>
	</article>
	<input type="submit" name="submit" value="Post" />
	{% if origin %}
	<input type="hidden" name="origin" value="{{ origin._id }}" />
	{% endif %}
</form>
{% endmacro %}
