{% extends "layout.html" %}
{% block title %}New Post{% endblock %}
{% block sidebar %}
<ul>
	<li><a href="/post/text" class="text">Text</a></li>
	<li><a href="/post/image" class="image">Image</a></li>
	{#<li><a href="/post/video" class="video">Video</a></li>#}
</ul>
{% endblock %}
