{% extends "posts/collection.html" %}
{% block before_posts %}
{% if user %}
<aside class="user_info">
		{% if "user" in session() and session().user._id != user._id %}
		<nav class="friendship">
			{% if user._id in session("user").friends %}
			<a href="/{{ user.username }}/unfriend">unfriend</a>
			{% else %}
			<a href="/{{ user.username }}/friend">friend</a>
			{% endif %}
		</nav>
		{% endif %}
	<h1>{{ user.username }}
	</h1>
</aside>
{% endif %}
{% endblock %}
